/* Variables */
:root{
    --blue-color: hsl(192, 37%, 48%);
    --blue-bg-color-opacity: hsla(192, 50%, 50%, 0.9);
    --pinky-bg-color: hsl(268, 34%, 53%); 
    --dark-letter-color: hsl(240, 21%, 20%); 
    --grey-letter-color: hsl(240, 10%, 57%);
    --grey-line-color: hsl(240, 10%, 80%);
    --blue-hover-color: hsl(192, 90%, 77%); 
    --pink-hover-color: hsl(268, 100%, 86%); 
    --white-letter-color: hsl(0, 0%, 98%);
}

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 18px; 
    line-height: 26px;
    font-family: 'Red Hat Display', sans-serif;
    line-height: 26px;
    background-color: var(--white-letter-color);
    color: var(--grey-letter-color);
}

h1{
    font-size: 64px;
    line-height: 64px;
}
h2{
    font-size: 40px;
    line-height: 44px;
}
h1, h2{
    color: var(--dark-letter-color);
}

header{
    width: 100%;
    height: 170px;
    display: flex;
    flex-direction: row;
    margin: auto;
    align-content: center;
    text-align: center;
}
.meet-logo{
margin: auto;
width: 119px;
height: 28px;
}
.header-intro{
    width: 100%;
    height: 358px;
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
    text-align: center;
    margin-bottom: 32px;
}
.header-left{
    margin-left: -32px; 

}
.header-middle{
    padding: 15px;
}
.header-right{
    margin-right: -32px;
    object-fit: contain;
}
button{
    border:none;
    text-decoration: none;
    width: 193px;
    height: 58px;
    padding:10px;
    border-radius: 29px;
    color: var(--white-letter-color);
    font-weight: 700;
}

.multiple-img{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.img1, .img2, .img3, .img4{
    width: 255px;
    height: 242px;
    background-size: contain;
    border-radius: 5px;
    margin-right: 20px;
}
.img1{
    background-image: url(/assets/desktop/image-woman-in-videocall.jpg);
}
.img2{
    background-image: url(/assets/desktop/image-women-videochatting.jpg);
}
.img3{
    background-image: url(/assets/desktop/image-men-in-meeting.jpg);
}

.img4{
    background-image: url(/assets/desktop/image-man-texting.jpg);
}

.middle{
    width: 540px;
    height: 240px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    padding: 50px;
    margin-bottom: 50px;
}

.overline{
    word-spacing: 4px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--blue-color);
}

.btn1, .btn2{
    margin-right: 32px;
}


.btn1{
    background-color: var(--blue-color);
}

.version1{
    color: var(--blue-hover-color)
}

.btn1:hover{
    background-color: var(--blue-hover-color);
}
.version1:hover{
    color: var(--blue-color);
}

.btn2{
    background-color: var(--pinky-bg-color);
}

.btn2:hover{
    background-color: var(--pink-hover-color);
}
.version2{
    color: var(--pink-hover-color);
}

.footer{
    position:relative;
    width: 100%;
    height: 308px;
    background: url("/assets/desktop/image-footer.jpg") center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;    
}

.footer::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--blue-bg-color-opacity);

}

#exp-more, #p-exp, #last-btn{
    position: relative;
    margin-right: 90px;
}

#exp-more, #p-exp{
    color: var(--white-letter-color);
    padding: 50px;
}


.item-line{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.vertical-line, .round{
    border: 1px solid var(--grey-letter-color);
}
.vertical-line{
    height: 50px;
    
}


.round{
    text-align: center;
    width: 56px;
    height: 56px;
    border-radius: 50%;
}



@media screen and (min-width: 1024px){

}

@media screen and (min-width: 768px) and (max-width: 1023px){

}

@media screen and (max-width: 767px){

}