/* Variables */
:root{
    --blue-color: hsl(192, 37%, 48%);
    --blue-bg-color-opacity: hsla(192, 50%, 50%, 0.9);
    --pinky-bg-color: hsl(268, 34%, 53%); 
    --dark-letter-color: hsl(240, 21%, 20%); 
    --grey-letter-color: hsl(240, 10%, 57%);
    --grey-line-color: hsl(240, 25%, 90%);
    --blue-hover-color: hsl(192, 70%, 66%); 
    --blue-version-hover-color: hsl(192, 90%, 77%); 
    --pink-hover-color: hsl(268, 100%, 76%);
    --pink-version-hover-color: hsl(268, 100%, 86%);
    --white-letter-color: hsl(0, 0%, 98%);
}
body, html{
    overflow-x: hidden;
}

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 18px; 
    line-height: 26px;
    font-family: 'Red Hat Display', sans-serif;
    line-height: 26px;
    background-color: var(--white-letter-color);
    color: var(--grey-letter-color);
}
h1{
    font-size: 64px;
    line-height: 64px;
}
h2{
    font-size: 40px;
    line-height: 44px;
}
h1, h2{
    color: var(--dark-letter-color);
}

.header-tablet-mobile{
    display: none;
}

header{
    width: 100%;
    height: 170px;
    display: flex;
    flex-direction: row;
    margin: auto;
    align-content: center;
    text-align: center;
}
.meet-logo{
margin: auto;
width: 119px;
height: 28px;
}
.header-intro{
    width: 100%;
    height: 358px;
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
    text-align: center;
    margin-bottom: 32px;
}
#img-hero-left{
    margin-left: -222px; 
}
.header-middle{
    padding: 15px;
}

button{
    border:none;
    text-decoration: none;
    height: 58px;
    padding:10px;
    border-radius: 29px;
    color: var(--white-letter-color);
    font-weight: 700;
}
@media screen and (min-width: 1024px){
    .header-left, .header-right {
    width: 200px;
    }
    #img-hero-left{
        width: 250px ;
        position: relative;
        left: 80px; 
    }
    #img-hero-right{
        width: 250px;
        position: relative;
        left: 32px;
    }
    .header-middle{
        width: 530px;
        height: 304px;
    }
}
@media screen  and (min-width: 768px) and (max-width: 1023px) {

    #img-hero-left{
    display: none;    
}
#img-hero-right{
    display: none;
}   
.header-tablet-mobile{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#img-hero-left-tablet-mobile{
    position: relative;
    right: 32px;
}

#img-hero-right-tablet-mobile{
    position: relative;
    left: 20px;
}

}
@media screen and (min-width: 320px) and (max-width: 425px){
    #img-hero-left{
        display: none;    
    }
    #img-hero-right{
        display: none;
    }
.header-tablet-mobile{
    display: flex;
    flex-direction: row;
    width: 414px;
    height: 153px;
}
#img-hero-left-tablet-mobile{
    position: relative;
    right: 22px;
}
#img-hero-right-tablet-mobile{
    position: relative;
    left: 6px;
}
.header-middle > h1, p{
    flex-direction: column;
    width: 327px;
    margin: auto;
    justify-content: center;
    align-content: center;
}

h1{
    font-size: 40px; 
}
p{
    font-size: 16px;
    line-height: 26px;
}

.btn1 {
    
    position: relative;
    top: 10px;
    left: 10px;
}
.btn2{
    position: relative;
    top: 30px;
    left: 12px;
}


}



/* MULTIPLE IMAGES */

.multiple-img{
    width: 1110px;
    display: flex;
    margin: auto;
    flex-direction: row;
    justify-content: center;
}

.img1, .img2, .img3, .img4{
    width: 242px;
    height: 242px;
    justify-content: space-around;
    background-size: contain;
    border-radius: 5px;
    background: no-repeat center center; 
    background-size: contain;
}

.img1{
    background-image: url(assets/desktop/image-woman-in-videocall.jpg);
}
.img2{
    background-image: url(assets/desktop/image-women-videochatting.jpg);
}
.img3{
    background-image: url(assets/desktop/image-men-in-meeting.jpg);
}
.img4{
    background-image: url(assets/desktop/image-man-texting.jpg);
}

@media screen and (min-width: 1024px){
    .multiple-img{
        width: 710px;
        justify-content: center;
        }
        .img1, .img2, .img3, .img4{
            width: 200px;
            height: 200px;
            margin-right: 20px;
        }
            }      
@media screen  and (min-width: 768px) and (max-width: 1023px){
    .multiple-img{
        width: 689px;
        justify-content: center;
        }
        .img1, .img2, .img3, .img4{
            width: 164px;
            height: 156px;
            margin-right: 20px;
        }
}
@media screen and (min-width: 320px) and (max-width: 425px){
    .multiple-img{
        width: 100%;
        height: 100%; 
        display: grid;
        grid-template-columns: repeat(2, 143px);
        grid-gap: 12px;
        }
        
        .img1, .img2, .img3, .img4{
            height: 151px;
            width: 143px;
            background-size:cover;
        }

}
.middle{
    width: 540px;
    height: 240px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    padding: 50px;
    margin-bottom: 50px;
}

.overline{
    letter-spacing: 0.3em;
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--blue-color);
}

@media screen and (min-width: 320px) and (max-width: 425px){
    .middle{
        margin-top: 40px;
        width: 327px;
        height: 284px;
        padding: 0;
    }

   h2{
        font-size: 32px;
    }

    p{
    font-size: 16px;
    }
}

.btn1, .btn2{
    margin-right: 32px;
}
.btn1, #last-btn{
    width: 193px;
}
.btn1{
    background-color: var(--blue-color);
}
.version1{
    color: var(--blue-hover-color)
}

.btn1:hover{
    background-color: var(--blue-hover-color);
}
.btn1:hover > .version1{
    color: var( --blue-version-hover-color);
}

.btn2{
    background-color: var(--pinky-bg-color);
    width: 139px;
}
.btn2:hover{
    background-color: var(--pink-hover-color);
}
.version2{
    color: var(--pink-hover-color);
}
.btn2:hover > .version2{
    color: var(--pink-version-hover-color);
}

.footer{
    position:relative;
    width: 100%;
    height: 308px;
    background: url("/assets/desktop/image-footer.jpg") center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;    
}
.footer::before{ 
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--blue-bg-color-opacity);

}
#exp-more, #p-exp, #last-btn{
    position: relative;
    margin-right: 90px;
}
#exp-more, #p-exp{
    color: var(--white-letter-color);
    padding: 50px;
}
@media screen and (min-width: 1024px){
    
    
    #exp-more, #p-exp, #last-btn{
        margin-right: 0;
        padding: 0;
    }
    
    #exp-more{
        width: 350px ;
        height: 88px;
        font-size: 40px;}


        #p-exp{
            width: 350px;
            height: 78px;
            font-size: 18px;
            margin: auto 20px;
        }

    #last-btn{
        width: 193px;

    }
}


@media screen and (min-width: 768px) and (max-width: 1023px){
    .footer{
        flex-direction: column;
        height: 400px;
        text-align: center;
    }
    #exp-more, #p-exp, #last-btn{
        margin: 0;
        padding: 0;
    }
    #exp-more, #p-exp{
        padding: 20px;
    }

    #exp-more{
        width: 462px;
    }

    #p-exp{
        width: 575px;
        padding-bottom: 20px;
    
    }

}
@media screen and (min-width: 320px) and (max-width: 425px){
    .footer{
        height: 428px;
        flex-direction: column;
        text-align: center;
    }
    #exp-more, #p-exp, #last-btn{
        margin: 0;
        padding: 0;
    }
    #exp-more, #p-exp{
        padding: 20px;}

        #exp-more{
            width: 327px;
            height: 78px;
            font-weight: 900;
            font-size: 32px;
        }

    #p-exp{
        font-size: 18px;
        width: 327px;
        height: 78px;
    }
}
.item-line{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
}
.vertical-line, .round{
    border: 0.5px solid var(--grey-line-color);
}
.vertical-line{
    height: 50px;
}
.round{
    text-align: center;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    font-weight: bold;
    padding: 4px;
    background-color: var(--white-letter-color);
}
#last-line{
    position: relative;
    top: 62px;
    z-index: 10;
}
@media screen and (min-width: 768px) and (max-width: 1023px){
    #first-line{
        padding-top: 32px;
        padding-bottom: 32px;
    }
}
@media screen and (min-width: 320px) and (max-width: 425px){
    .round > p{
        width: 21px;
        margin: 16px auto;
    }

    #first-line{
        padding-top: 50px;
        padding-bottom: 30px;
    }
}